<!-- <section class="card-sm" style="background-image:url('{{img1}}')">
    <h5 class="card__text-lg">{{title1}} <sub style="font-size: xx-small;">{{date2}}</sub></h5>
    <p class="card__text-sm">{{content1}}</p>
</section> -->

<section class="card-sm" style="background-image:url('{{img2}}')">
    <h5 class="card__text-lg">{{title2}} 
        <sub style="font-size: xx-small;">{{date2}}</sub>
    </h5>
    <p class="card__text-sm">{{content2}}</p>
</section>

<!-- <section class="card-sm" style="background-image:url('{{img3}}')">
    <h5 class="card__text-lg">{{title3}} <sub style="font-size: xx-small;">{{date3}}</sub></h5>
    <p class="card__text-sm">{{content3}}</p>
</section> -->
