<button
  class="group h-12 w-full px-6 border-2 border-gray-300 rounded-full transition duration-300 hover:border-blue-400 focus:bg-blue-50 active:bg-blue-100 disabled:opacity-50 disabled:pointer-events-none"
  [disabled]="disabled"
  (click)="handleGoogleSignIn()"
>
  <div class="relative flex items-center space-x-4 justify-center w-full">
    <img
      src="https://www.svgrepo.com/show/475656/google-color.svg"
      class="absolute left-0 w-5"
      alt="Google logo"
    />
    <span
      class="block w-max font-semibold tracking-wide text-gray-700 text-sm transition duration-300 group-hover:text-blue-600 sm:text-base"
    >
      Continue with Google
    </span>
  </div>
</button>
