<div class="main" style="background-image:url('https://images.ctfassets.net/rc3dlxapnu6k/4iXwOC9me91lX1ngawKVVq/4d9514c3d993086e17922b1c5e779ff1/iStock-1360012506.jpg?w=3533&h=1987&fl=progressive&q=50&fm=jpg')">
    <section class="card-lg__container" >
      <h1 class="card__text-lg">Welcome to MOROCCO</h1>
      <p class="card__text-md">            
        Where history meets modernity, a vibrant tapestry of culture, colors, and warm hospitality.
      </p>
      <a href="https://www.visitmorocco.com/en/morocco/events?field_event_category_tid%5B1%5D=1" class="card__btn" target="_blank">Discover</a>
    </section>
 
    <section class="card-sm__container">
      <!--- START: CARD --->
      <section class="card-sm" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTD59g1ep4AqL2z7gHZypfediA1e1ZFkJwYhklDO5N3uQ&s')">
        <h5 class="card__text-lg">TANJAzz - Tangier <sub style="font-size: xx-small;">June , 2024</sub></h5>
        <p class="card__text-sm">Quality jazz festival in late May featuring big names from the U.S. and France. Concerts at hotels like El Minzah. Typically held in early June.</p>
      </section>
      <!--- END: CARD --->
      
      <!--- START: CARD --->
      <section class="card-sm" style="background-image:url('https://www.cafonline.com/media/xpujem0o/afcon_2025.jpg')">
        <h5 class="card__text-lg">CAF <sub style="font-size: xx-small;"> 2025</sub></h5>
        <p class="card__text-sm">Morocco is set to host the 35th edition of the Africa Cup of Nations.</p>
      </section>
      <!--- END: CARD --->
  
      <!--- START: CARD --->
      <section class="card-sm" style="background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDYBRNit_RJtug6K3iAudlNwji_D1sGV2WzYZGF8tNug&s')">
        <h5 class="card__text-lg">FIFA World Cup <sub style="font-size: xx-small;"> 2030</sub></h5>
        <p class="card__text-sm">Spain, Portugal, and Morocco will jointly host the centennial 2030 FIFA World Cup, marking the 24th edition of the tournament.</p>
      </section>
      <!--- END: CARD --->  
