<div class="main" style="background-image:url('https://images.ctfassets.net/rc3dlxapnu6k/4iXwOC9me91lX1ngawKVVq/4d9514c3d993086e17922b1c5e779ff1/iStock-1360012506.jpg?w=3533&h=1987&fl=progressive&q=50&fm=jpg')">
    <section class="card-lg__container" >
      <h1 class="card__text-lg">Welcome to MOROCCO</h1>
      <p class="card__text-md">            
      Where history meets modernity, a vibrant tapestry of culture, colors, and warm hospitality.
      </p>
      <a href="https://www.visitmorocco.com/en/morocco/events?field_event_category_tid%5B1%5D=1" class="card__btn" target="_blank">Discover</a>
    </section>
 
    <section class="card-sm__container">
     <app-card-event></app-card-event>
     <app-card-event></app-card-event>
     <app-card-event></app-card-event>
     <app-card-event></app-card-event>


