<div class="my-14">
  <div class="flex justify-between items-center flex-wrap mb-8">
    <h1 class="text-xl font-sans font-bold">Discover products</h1>
    <div class="flex items-center">
      <label for="search" class="mb-2 text-sm font-sans sr-only">
        Search
      </label>
      <app-input input="text" [(ngModel)]="searchQuery" placeholder="Search..." postIcon="ri-search-line" />
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 mb-8 items-stretch">
    @for(product of products; track product){
    <a (click)="displayItem(product)"
      class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
      <img class="object-cover w-full rounded-t-lg h-[150px] md:h-auto md:w-48 md:rounded-none md:rounded-s-lg"
        [src]="product.picture" alt="">
      <div class="flex flex-col justify-between p-4 leading-normal">
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{product.title}}</h5>
        <p class="mb-3 font-sans text-sm text-gray-700">{{product.minprice}} DH &lt; <span>Normal Price
          </span> &lt; {{product.maxprice}} DH</p>
        <p class="mb-3 font-sans text-sm text-gray-500">{{product.category}} . {{product.city}}</p>
      </div>
    </a>

    }
  </div>

</div>
