<div class="my-14">
  <div class="flex justify-between items-center flex-wrap mb-8">
    <h1 class="text-xl font-sans font-bold">Discover Moroccan Cities</h1>
    <div class="flex items-center">
      <label for="search" class="mb-2 text-sm font-sans sr-only">
        Search
      </label>
      <app-input input="text" [(ngModel)]="searchQuery" placeholder="Search..." postIcon="ri-search-line" />
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-5 mb-8 items-stretch">
    @for(product of products; track product){
      <div class="flex flex-wrap space-x-0 card max-w-sm bg-white border border-gray-200 rounded-lg shadow">
        <a href="#">
          <img class="rounded-t-lg w-full h-[200px] object-cover" [src]="product.picture" [alt]="product.name" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-4 text-2xl font-sans font-bold tracking-tight text-gray-900 ">{{product.title}}</h5>
          </a>
          <p class="mb-3 font-sans text-gray-700 h-[100px]">{{product.desc}}</p>
          <br><a href="#"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-orange-800 rounded-lg hover:bg-orange-600 focus:ring-4 focus:outline-none focus:ring-orange-800">
            Read more
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
              viewBox="0 0 14 10">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
          </a>
        </div>
      </div>

    }
  </div>

</div>
