<div class="flex flex-col h-[80vh] my-14 border-2 p-2 rounded-lg border-gray-600">
  <div class="bg-orange-800 text-white text-lg rounded-lg font-bold p-4 flex justify-between items-center">
    <span class="flex items-center">
      <i class="ri-chat-3-line text-xl mr-2"></i> Public Chat
    </span>
    <span class="flex items-center text-sm bg-green-500 py-1 px-3 rounded-full">
      <i class="ri-checkbox-circle-line mr-1"></i> Online
    </span>
  </div>
  <div class="p-3">
    <div id="messages">
      <p class="text-sm text-gray-500 text-center">Feel free to share information or answer other users.</p>
    </div>
  </div>
  <div class="overflow-y-auto">
    @for(msg of messages; track msg){
    <div class="inline-flex items-center mb-4">
      <img ngOptimizedImage class="w-8 h-8 rounded-full object-cover border" src="assets/user.svg" alt="user_image" />
      <div class="mx-2 text-xs font-medium">
        <p class="inline-flex items-center">
          <span class="text-sm mr-2">{{ msg.sender}}</span> {{ time(msg.timestamp.toDate()) }}
        </p>
        <div class="flex items-center gap-1">
          <p>{{msg.content}}</p>
        </div>
      </div>
    </div>
    }
  </div>
  <!-- Chat messages -->
  <div class="p-4 rounded-lg fixed bottom-1 right-1">
    <div class="flex items-center-center">
      <app-input input="text" name="text" placeholder="Type your here..." [required]="true" [(ngModel)]="messageChat" />
      <div class="m-2 text-center items-center cursor-pointer text-orange-900" (click)="send()">
        <i class="ri-send-plane-2-fill"></i>
      </div>
    </div>
  </div>
</div>
