@if (product) {
<div class="grid lg:grid-cols-2 sm:grid-cols-1 gap-8 my-4 py-4 items-start">
  <div class="">
    <img class="rounded-lg w-full object-cover h-[300px]" [src]="product.picture" alt="product-image" />
    <h5 class="text-xl font-semibold tracking-tight p-4 text-gray-900 border-b-2 border-gray-300">
      {{ product.title }}
    </h5>
    <p class="text-gray-500 text-sm text-justify font-sans p-4">
      {{ product.desc }}
    </p>
    <!-- <div class="inline-flex items-center p-4">
        <img
          ngOptimizedImage
          class="w-10 h-10 rounded-full"
          [src]="basket.createdBy.picture"
          alt="user_image"
        />
        <div class="my-4 mx-2">
          <p class="font-ubuntu text-xs">
            {{ basket.createdBy.firstName }} {{ basket.createdBy.lastName }}
          </p>
          <div class="flex items-center gap-1">
            <i class="ri-star-fill text-yellow-300"></i>
            <p class="text-xs font-sans">4.5</p>
          </div>
        </div>
      </div> -->
  </div>
  <div class="bg-white rounded-lg p-4 shadow-sm">
    <div class="py-4 px-3">
      <h5 class="text-center text-black text-2xl font-bold font-sans">
        Price Details
      </h5>
    </div>
    <div class="flex justify-between items-center py-4 px-3 border-y">
      <h5 class="font-sans text-black">Min Price</h5>
      <h5 class="font-sans text-gray-500">{{ product.minprice }} MAD</h5>
    </div>
    <div class="flex justify-between items-center py-4 px-3 border-y">
      <h5 class="font-sans text-black">Max Price</h5>
      <h5 class="font-sans text-gray-500">{{ product.maxprice }} MAD</h5>
    </div>
    <div class="flex justify-between items-center py-4 px-3">
      <h5 class="font-sans text-black">City </h5>
      <a routerLink="/fez" class="font-sans text-gray-500 underline underline-offset-4">
        {{product.city}} <span> <i class="ri-arrow-right-s-line"></i> </span>
      </a>
    </div>
    <div class="flex justify-between items-center py-4 px-3 border-y">
      <h5 class="font-sans text-black">Category</h5>
      <h5 class="font-sans text-gray-500">
        {{ product.category }}
      </h5>
    </div>
    <div class="flex flex-col items-center pt-4 px-3">
      <p class="font-sans text-center text-gray-400 text-sm px-8">
        Please note that the displayed prices are for reference only and represent averages, not final or actual costs.
      </p>
      <span class="font-sans text-gray-400 text-sm px-8 underline">
        Terms of use
      </span>
    </div>
  </div>
</div>
<div class="my-10">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12094.57348593182!2d-74.00599512526003!3d40.72586666928451!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2598f988156a9%3A0xd54629bdf9d61d68!2sBroadway-Lafayette%20St!5e0!3m2!1spl!2spl!4v1624523797308!5m2!1spl!2spl"
    class="w-full h-[50vh]" loading="lazy"></iframe>
</div>
}
@else {
<app-not-found></app-not-found>
}
