<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>

    
        <div class="bg-orange-500 dark:bg-orange-800 py-8">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex flex-col md:flex-row -mx-4">
                    <div class="md:flex-1 px-4">
                        <div class="h-[460px] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
                            <img class="w-full h-full object-cover" src="https://cdn.pixabay.com/photo/2020/05/22/17/53/mockup-5206355_960_720.jpg" alt="Product Image">
                        </div>
                        <div class="flex -mx-2 mb-4">
                            <div class="w-1/2 px-2">
                                <button class="w-full bg-orange-600  text-white py-2 px-4 rounded-full font-bold hover:bg-orange-700 dark:hover:bg-orange-700">Add to Cart</button>
                            </div>
                            <div class="w-1/2 px-2">
                                <button class="w-full bg-orange-600 text-gray-800 dark:text-white py-2 px-4 rounded-full font-bold hover:bg-orange-700 dark:hover:bg-orange-700">Add to Wishlist</button>
                            </div>
                        </div>
                    </div>
                    <div class="md:flex-1 px-4">
                        <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">Product Name</h2>
                        <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed
                            ante justo. Integer euismod libero id mauris malesuada tincidunt.
                        </p>
                        <div class="flex mb-4">
                            <div class="mr-4">
                                <span class="font-bold text-gray-700 dark:text-gray-300">Price:</span>
                                <span class="text-gray-600 dark:text-gray-300">$29.99</span>
                            </div>
                            <div>
                                <span class="font-bold text-gray-700 dark:text-gray-300">Availability:</span>
                                <span class="text-gray-600 dark:text-gray-300">In Stock</span>
                            </div>
                        </div>
                        <div class="mb-4">
                            <span class="font-bold text-gray-700 dark:text-gray-300">Select Color:</span>
                            <div class="flex items-center mt-2">
                                <button class="w-6 h-6 rounded-full bg-gray-800 dark:bg-gray-200 mr-2"></button>
                                <button class="w-6 h-6 rounded-full bg-red-500 dark:bg-red-700 mr-2"></button>
                                <button class="w-6 h-6 rounded-full bg-blue-500 dark:bg-blue-700 mr-2"></button>
                                <button class="w-6 h-6 rounded-full bg-yellow-500 dark:bg-yellow-700 mr-2"></button>
                            </div>
                        </div>
                        <div class="mb-4">
                            <span class="font-bold text-gray-700 dark:text-gray-300">Select Size:</span>
                            <div class="flex items-center mt-2">
                                <button class="bg-slate-900 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600">S</button>
                                <button class="bg-slate-900 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600">M</button>
                                <button class="bg-slate-900 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600">L</button>
                                <button class="bg-slate-900 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600">XL</button>
                                <button class="bg-slate-900 text-gray-700 dark:text-white py-2 px-4 rounded-full font-bold mr-2 hover:bg-gray-400 dark:hover:bg-gray-600">XXL</button>
                            </div>
                        </div>
                        <div>
                            <span class="font-bold text-gray-700 dark:text-gray-300">Product Description:</span>
                            <p class="text-gray-600 dark:text-gray-300 text-sm mt-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                                sed ante justo. Integer euismod libero id mauris malesuada tincidunt. Vivamus commodo nulla ut
                                lorem rhoncus aliquet. Duis dapibus augue vel ipsum pretium, et venenatis sem blandit. Quisque
                                ut erat vitae nisi ultrices placerat non eget velit. Integer ornare mi sed ipsum lacinia, non
                                sagittis mauris blandit. Morbi fermentum libero vel nisl suscipit, nec tincidunt mi consectetur.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                <h4 class="mx-auto">similar products:</h4>
            </div>
        </div>
        <div class="bg-gray-100 dark:bg-gray-100 py-8">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                <h1 class="container text-2xl font-bold text-neutral-900 dark:text-neutral mb-2">Full Description:</h1>
                <p class="text-neutral-600 text-base mt-4 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eum omnis quia nemo ipsum odio nam dolor quas obcaecati, suscipit quis maiores aut consequuntur porro eius ad magni sequi itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo harum aspernatur numquam neque, libero nostrum architecto quibusdam hic veniam, voluptates nam eligendi rerum ex exercitationem. Laboriosam qui vitae dolore est?Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat sunt repudiandae tempore id laboriosam nobis quos blanditiis. Ex blanditiis ipsa magnam inventore fugit necessitatibus nulla placeat aperiam amet aspernatur.</p>
                <div class="rounded-lg flex flex-col md:flex-row -mx-4">
                    <img class="w-1/2 h-full object-cover max-w-none mx-auto" src="https://cdn.pixabay.com/photo/2016/03/27/19/31/fashion-1283863_1280.jpg" alt="Product Image">
                    <img class="w-1/2 h-full object-cover max-w-none mx-auto" src="https://cdn.pixabay.com/photo/2016/03/27/19/31/fashion-1283863_1280.jpg" alt="Product Image">
                </div>
                <p class="text-neutral-600 text-base mt-4 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero eum omnis quia nemo ipsum odio nam dolor quas obcaecati, suscipit quis maiores aut consequuntur porro eius ad magni sequi itaque! Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo harum aspernatur numquam neque, libero nostrum architecto quibusdam hic veniam, voluptates nam eligendi rerum ex exercitationem. Laboriosam qui vitae dolore est?Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat repellat sunt repudiandae tempore id laboriosam nobis quos blanditiis. Ex blanditiis ipsa magnam inventore fugit necessitatibus nulla placeat aperiam amet aspernatur.</p>
            </div>
        </div>
        <div class="bg-orange-500 dark:bg-orange-800 py-8">
            <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
                <h1 class="text-2xl font-bold text-gray-800 dark:text-white mb-4">Location:</h1>
                <div class="">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13277.392674120281!2d-7.36246065!3d33.69993865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7b7a45e0c2883%3A0xc000a11bfbf715f5!2sPlage%203%20Mars!5e0!3m2!1sen!2sma!4v1708901465880!5m2!1sen!2sma" width="100%" height="600px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
    


</body>
</html>