<footer class="bg-black w-full">
  <div class="bg-gray-900">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between container py-10"
    >
      <a routerLink="/" class="flex items-center space-x-3">
        <img src="assets/logo.png" class="h-8" alt="Solifood Logo" />
        <span class="font-sans font-bold text-2xl text-white">SafeGuide</span>
      </a>
      <ul class="flex items-center space-x-4 flex-wrap text-gray-400">
        @for (link of links; track $index) {
          <li>
            <a
              [routerLink]="link.path"
              class="hover:text-white"
              aria-current="page"
            >
              {{ link.label }}
            </a>
          </li>
        }
      </ul>
    </div>
  </div>
  <div class="max-w-screen-xl container py-2 text-gray-600 text-center text-sm">
    <p>&copy; {{ currYear }} SafeGuide. All rights reserved.</p>
  </div>
</footer>
