<div>
  <div class="flex items-center justify-center w-full relative">
    <label
      [for]="_id"
      class="flex flex-col items-center justify-center w-full h-96 border-2 border-gray-300 border-dashed rounded-lg cursor-pointe hover:bg-gray-100 text-gray-500"
    >
      <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <i class="ri-upload-cloud-2-line ri-3x"></i>
        <p class="mb-2 text-sm">
          <span class="font-semibold">Click to upload</span> or drag and drop
        </p>
        <p class="text-xs">{{ extensions.join(", ") }}</p>
      </div>
      <input
        [id]="_id"
        type="file"
        class="absolute top-0 left-0 bottom-0 right-0 w-full h-full opacity-0 cursor-pointer"
        [multiple]="multiple"
        (change)="onFilesSelected($event)"
      />
    </label>
  </div>
  <div class="flex flex-wrap my-1">
    @for (url of urls; track url; let index = $index) {
      <div>
        <span class="inline-flex items-center px-2 py-1 me-2">
          <img [src]="url" class="w-14 h-14 object-cover rounded" />
          <button
            type="button"
            class="inline-flex items-center p-1 ms-2 text-sm text-gray-500 bg-transparent"
            (click)="removeFiles(index)"
          >
            <i class="ri-close-line"></i>
            <span class="sr-only">Remove badge</span>
          </button>
        </span>
      </div>
    }
  </div>
</div>
